<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Update status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-radio-group [(ngModel)]="status">
    <ion-item>
      <ion-label>Happy</ion-label>
      <ion-radio slot="end" value="happy"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Sad</ion-label>
      <ion-radio slot="end" value="sad"></ion-radio>
    </ion-item>
    
    <ion-item>
      <ion-label>Energetic</ion-label>
      <ion-radio slot="end" value="energetic"></ion-radio>
    </ion-item>
    
    <ion-item>
      <ion-label>Lazy</ion-label>
      <ion-radio slot="end" value="lazy"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
<ion-button (click)="saveStatus()">Save!</ion-button>

</ion-content>
