<ion-header [translucent]="true">
  <ion-toolbar>
       <ion-buttons slot="start">
    <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-title>leinster counties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">leinsterCounties</ion-title>
    </ion-toolbar>
  </ion-header>
    @for (county of counties; track $index) {
    <ul>
      <li>{{county}}</li>
    </ul>
  }
</ion-content>
