<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-title size="large">connacht</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">connacht</ion-title>
    </ion-toolbar>
  </ion-header>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/1280px-Flag_of_Connacht.svg.png">

  <hr>
  <ul>
    <li>Sligo</li>
    <li>Mayo</li>
    <li>Galway</li>
    <li>Leitrim</li>
    <li>Roscommon</li>
  </ul>
</ion-content>